<div class="d-flex flex-wrap">
    <div class="home-blurb">
        <h1>Research Scotland Repository</h1>
        <p>The Research Scotland repository provides permanent access to digital research outputs from Scottish Government funded and affiliated research organisations.</p>
        <p><a href="https://www.gov.scot/research/">Research</a> plays an important role in shaping the policies of the Scottish Government. It helps us to think about new and better ways of doing things and provides new understandings and discoveries that benefit our society.</p>
        <p>Research Scotland contains outputs from the partner organisations listed below. The content on the repository is freely available where possible, although some items are subject to publisher-imposed embargoes.</p>
        <p>Items in Research Scotland are protected by copyright with all rights reserved unless otherwise indicated.</p>
    </div>
</div>


