<div class="container">
    <h1>Accessibility statement for <a routerLink="/home">Research Scotland</a>
    </h1>
    <p><a routerLink="/home">https://research-scotland.ac.uk</a> accessibility statement inline with Public Sector Body (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</p>
    <p>This accessibility statement applies to: <a routerLink="/home">https://research-scotland.ac.uk </a></p>
    <p>This website is run by the Digital Library Development & Systems team, University of Edinburgh. We want as many people as possible to be able to use this application. For example, that means you should be able to:</p>
    <ul>
        <li>Change colours, contrast levels and fonts</li>
        <li>Navigate most of the application using just a keyboard</li>
        <li>Navigate the website using speech recognition software (such as Dragon Naturally Speaking)</li>
        <li>Listen to most of the application using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        <li>Experience no time limits to any content</li>
    </ul>
    <p>We’ve also made the website text as simple as possible to understand. However, some of our content is technical, and we use technical terms where there is no easier wording we could use without changing what the text means.</p>

    <h2>Customising the website</h2>
    <p>AbilityNet has advice on making your device easier to use iAbilityNet has advice on making your device easier to use if you have a disability. This is an external site with suggestions to make your computer more accessible:</p>
    <p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet - My computer my way</a></p>
    <p>With a few simple steps you can customise the appearance of our website using your browser settings to make it easier to read and navigate:</p>
    <p><a href="https://www.ed.ac.uk/about/website/accessibility/customising-site">Additional information on how to customise our website appearance</a></p>
    <p>If you are a member of University staff or a student, you can use the free SensusAccess accessible document conversion service:</p>
    <p><a href="https://www.ed.ac.uk/student-disability-service/staff/supporting-students/accessible-technology">SenusAccess Information</a></p>

    <h2>How accessible this website is</h2>
    <p>We know some parts of this website are not fully accessible:</p>
    <ul>
        <li>Not all non-text content has appropriate text descriptions</li>
        <li>Spellcheck and error suggestion is not robust and consistent on all browsers</li>
        <li>Data validation is not robust and consistent for all forms and uses pop up notifications</li>
        <li>Not all hyperlinks are correctly formatted</li>
        <li>Not all colour contrasts meet the recommended levels</li>
        <li>Not all text is sufficiently sized</li>
        <li>Keyboard navigation is not displayed consistently on all browsers and it can be hard to tell where you have tabbed to</li>
        <li>The website is not fully compatible with assistive technologies (JAWS, TextHelp, Dragon Naturally Speaking)</li>
        <li>The website is not fully compatible with mobile accessibility functionality (Android, iOS)</li>
        <li>Some PDF's are not fully accessible</li>
        <li>Scaling the website causes some content to become inaccessible and reflow is not enabled to 400%</li>
        <li>There are pop-ups that obscure or render other content inaccessible</li>
        <li>There are pop ups that open without warming</li>
    </ul>

    <h2>Feedback and contact information</h2>
    <p>If you need information on this website in a different format, including accessible PDF, large print, audio recording or braille:</p>
    <p>Email: <a href="mailto:info@ResearchScotland.ac.uk">info@ResearchScotland.ac.uk</a></p>
    <p>Phone: +44 (0)131 248 2850</p>
    <p>British Sign Language (BSL) users can contact us via <a href="http://contactscotland-bsl.org/">contact Scotland BSL</a>, the on-line BSL interpreting service</p>
    <p>We'll consider your request and get back to you in 5 working days.</p>

    <h2>Reporting accessibility problems with this website</h2>
    <p>We are always looking to improve the accessibility of this website. If you find any problems not listed on this page, or think we're not meeting accessibility requirements, please contact:</p>
    <p>Email: <a href="mailto:info@ResearchScotland.ac.uk">info@ResearchScotland.ac.uk</a></p>
    <p>Phone: +44 (0)131 248 2850</p>
    <p>British Sign Language (BSL) users can contact us via <a href="http://contactscotland-bsl.org/">contact Scotland BSL</a>, the on-line BSL interpreting service</p>
    <p>We'll consider your request and get back to you in 5 working days.</p>

    <h2>Enforcement procedure</h2>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint please contact the Equality Advisory and Support Service (EASS) directly:</p>
    <p><a href="https://www.equalityadvisoryservice.com/">Contact details for the Equality Advisory and Support Service (EASS)</a></p>
    <p>The government has produced information on how to report accessibility issues:</p>
    <p><a href="https://www.gov.uk/reporting-accessibility-problem-public-sector-website">Reporting an accessibility problem on a public sector website</a></p>

    <h2>Contacting us by phone using British Sign Language</h2>
    <p>British Sign Language service</p>
    <p>Contact Scotland BSL runs a service for British Sign Language users and all of Scotland’s public bodies using video relay. This enables sign language users to contact public bodies and vice versa. The service operates from 8.00am to 12.00am, 7 days a week.</p>
    <p><a href="https://contactscotland-bsl.org/">British Sign Language Scotland service details</a></p>

    <h2>Technical information about this website's accessibility</h2>
    <p>The University of Edinburgh is committed to making its websites and applications accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h3>Compliance Status</h3>
    <p>This website is partially compliant with the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard, due to the non-compliances listed below.</p>
    <p>The full guidelines are available at:</p>
    <p><a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG) 2.1 AA standard</a></p>

    <h2>Non accessible content</h2>
    <p>The content listed below is non-accessible for the following reasons.</p>
    <p><strong>Noncompliance with the accessibility regulations.</strong></p>
    <p>The following items to not comply with the WCAG 2.1 AA success criteria:</p>
    <ul>
        <li>Not all non-text content presented to users has alternative text</li>
    <ul>
        <li><u><a href="https://www.w3.org/TR/WCAG22/#text-alternatives">1.1.1 Non-text Content</a></u></li>
    </ul>
    </ul>
    <ul>
        <li>There may not be sufficient colour contrast between font and background colours, there are issues where text size is very small</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#contrast-minimum">1.4.3 - Contrast (Minimum)</a></u></li>
        </ul>
    </ul>
    <ul>
        <li>It is not possible in the Edge browser only to magnify text to 200% without loss of content</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#resize-text">1.4.4. Resize Text</a></u></li>
        </ul>
    </ul>
    <ul>
        <li>Not all the content reflows when the page is magnified above 200%</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#reflow">1.4.10 - Reflow</a></u></li>
        </ul>
    </ul>
    <ul>
        <li>There is moving text that cannot be paused by the end user</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#pause-stop-hide">2.2.2 Pause, Stop, Hide</a></u></li>
        </ul>
    </ul>
    <ul>
        <li>Although a skip to main content option is present this is only accessible for screen reader users as the visual presentation is blocked by other content on the page.</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#bypass-blocks">2.4.1. Bypass Blocks</a></u></li>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#focus-not-obscured-minimum">2.4.11 Focus not Obscured Minimum</a></u></li>
        </ul>
    </ul>
    <ul>
        <li>There is unformatted links present that don't determine the purpose of the link</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#link-purpose-in-context">2.4.4 Link Purpose (In Context)</a></u></li>
        </ul>
    </ul>
    <ul>
        <li>Headings are not used appropriately on some of the pages in the site</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#headings-and-labels">2.4.6. Headings and Labels</a></u></li>
        </ul>
    </ul>
    <ul>
        <li>Pop ups open without warning the user this will happen</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#on-input">3.2.2. On Input</a></u></li>
        </ul>
    </ul>
    <ul>
        <li>Missing or empty labels are present on the website so fail to describe the purpose of the input form</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#labels-or-instructions">3.3.2 Labels or Instruction</a></u></li>
        </ul>
    </ul>
    <ul>
        <li>Error suggestions or corrections are not always displayed</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#error-suggestion">3.3.3 Error Suggestionn</a></u></li>
        </ul>
    </ul>
    <ul>
        <li>Screen readers are not able to identify some parts of the page</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#name-role-value">4.1.2 - Name, Role, Value</a></u></li>
        </ul>
    </ul>
    <ul>
        <li>There are PDF's that are not currently accessible</li>
        <ul>
            <li><u><a href="https://www.w3.org/TR/WCAG22/#name-role-value">4.1.2 - Name, Role, Value</a></u></li>
        </ul>
    </ul>
    <p>We aim to improve our websites accessibility on a regular and continuous basis. See the section below ('What we're doing to improve accessibility') on how we are improving our site accessibility.</p>
    <p>We are working towards solving these problems and expect significant improvements by February 2024. The site is fully within our control.</p>

    <h2>Disproportionate burden</h2>
    <p>We are not currently claiming that any accessibility problems would be a disproportionate burden to fix.</p>

    <h2>Content that is not within the scope of the accessibility regulations</h2>
    <p>At this time we believe no content is outwith the scope of the accessibility regulations.</p>

    <h2>What we're doing to improve accessibility</h2>
    <p>We will continue to address and make adequate improvements to the accessibility issues highlighted. Unless specified otherwise, a complete solution or significant improvement will be in place by February 2025.</p>
    <p>While we are in the process of resolving these accessibility issues we will ensure reasonable adjustments are in place to make sure no user is disadvantaged. As changes are made, we will continue to review accessibility and retest the accessibility of this website.</p>

    <h2>Preparation of this accessibility statement</h2>
    <p><strong>This statement was prepared on 18th January 2022. It was last reviewed on 13th February 2024.</strong></p>
    <p><strong>The website was last tested on 8th February 2024. The testing was carried out by Digital Library Development and Systems at the University of Edinburgh</strong> using both automated and manual methods. The site was tested on a PC, primarily using Microsoft Edge alongside Mozilla Firefox and Google Chrome.</p>
    <p>Recent world-wide usage levels survey for different screen readers and browsers shows that Chrome, Mozilla Firefox and Microsoft Edge are increasing in popularity and Google Chrome is now the favoured browser for screen readers:</p>
    <p><a href="https://webaim.org/projects/screenreadersurvey9/">WebAIM: Screen Reader User Survey</a></p>
    <p>The aforementioned three browsers have been used in certain questions for reasons of breadth and variety.</p>
    <p>We ran automated testing using <a href="https://wave.webaim.org/">Wave WEBAIM</a> and then manual testing that included:</p>
    <ul>
        <li>Spell check functionality;</li>
        <li>Scaling using different resolutions and reflow;</li>
        <li>Options to customise the interface (magnification, font, background colour, etc);</li>
        <li>Keyboard navigation and keyboard traps;</li>
        <li>Data validation;</li>
        <li>Warning of links opening in new tab or window;</li>
        <li>Information conveyed in the colour or sound only;</li>
        <li>Flashing, moving or scrolling text;</li>
        <li>Operability if JavaScript is disabled;</li>
        <li>Use with screen reading software (for example JAWS);</li>
        <li>Assistive software (TextHelp Read and Write, Windows Magnifier, ZoomText, Dragon Naturally Speaking, TalkBack and VoiceOver);</li>
        <li>Tooltips and text alternatives for any non-text content;</li>
        <li>Time limits;</li>
        <li>Compatibility with mobile accessibility functionality (Android and iOS).</li>
    </ul>
    
    <h2>Change Log</h2>
    <ul>
        <li>All justified text has been removed to meet WCAG 2.2 AAA standards
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#visual-presentation">1.4.8 Visual Presentation</a></li>
            </ul>
        </li>
        <li>A ‘skip to main content’ option has been added that is audible to users of assistive software but is not visually apparent as it is blocked by other content so this later aspect needs to be resolved to fully meet the criteria.</li>
        <li>Focus highlighting has been greatly improved and functions on all browsers to meet WCAG 2.2 AA standards
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#focus-visible">2.4.7 Focus Visible</a></li>
            </ul>
        </li>
    </ul>
</div>