<footer class="text-lg-start">
  <div *ngIf="showTopFooter" class="top-footer">
    <!-- Grid container -->
    <div class=" container p-4">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="./" class="">Lorem ipsum</a>
            </li>
            <li>
              <a routerLink="./" class="">Ut facilisis</a>
            </li>
            <li>
              <a routerLink="./" class="">Aenean sit</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="./" class="">Suspendisse potenti</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
            voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <div class="container rsc-footer-content">
        <div class="row">
          <div class="col-xs-5 col-sm-5 footer-address">
            <div class="copyright-content">
              <address itemscope="" itemtype="https://schema.org/Organization">
                <strong>©<span itemprop="name">Research Scotland Consortium</span></strong>
                <br>
                c/o RBGE <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">20a Inverleith Row</span>
                <br>
                <span itemprop="postalCode">EH3 5LR</span>
                <br>
                <span itemprop="addressLocality">Edinburgh</span>,
                <span itemprop="addressRegion">Scotland</span>,
                <span itemprop="addressCountry">UK</span>
                <br>
                <br>
                <span>Tel: <span itemprop="telephone">0131 248 2850</span>
                <br>
                Email: <a itemprop="email" href="mailto:info@ResearchScotland.ac.uk">info@ResearchScotland.ac.uk</a>
                <br>
                </span>
                </span>
              </address>
                Items in Research Scotland are protected by copyright with all rights reserved unless otherwise indicated.
            </div>
        </div>
        <div class="col-xs-7 col-sm-7 hidden-xs footer-links ">
          <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
            <li>
              <a target="_blank" href="https://www.rbge.org.uk/collections/research-scotland/privacy-and-cookies/">
                Privacy &amp; Cookies</a>
            </li>
            <li>
              <a target="_blank" href="https://www.rbge.org.uk/collections/research-scotland/takedown-policy/">
                Takedown Policy</a>
            </li>
            <li>
              <a target="_blank" href="/info/accessibility">
                Accessibility</a>
            </li>
            <li>
              <a rel="license" target="_blank" href="https://www.rbge.org.uk/collections/research-scotland/">
                Policies</a>
            </li>
            <li>
              <a href="mailto:info@ResearchScotland.ac.uk">Contact</a>
            </li>
            <!--<li>
                <a class="text-white" href="javascript:void(0);"
                  (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
            </li>
            <li *ngIf="showPrivacyPolicy">
              <a class="text-white"
                  routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
            </li>
            <li *ngIf="showEndUserAgreement">
              <a class="text-white"
                  routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
            </li>
            <li>
              <a class="text-white"
                  routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
            </li>-->
          </ul>
        </div>
        <div class="col-xs-5 col-sm-5 footer-address footer-address-hidden">
          <div class="copyright-content">
            <address itemscope="" itemtype="https://schema.org/Organization">
              <strong>©<span itemprop="name">Research Scotland Consortium</span></strong>
              <br>
              c/o RBGE <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">20a Inverleith Row</span>
              <br>
              <span itemprop="postalCode">EH3 5LR</span>
              <br>
              <span itemprop="addressLocality">Edinburgh</span>,
              <span itemprop="addressRegion">Scotland</span>,
              <span itemprop="addressCountry">UK</span>
              <br>
              <br>
              <span>Tel: <span itemprop="telephone">0131 248 2850</span>
              <br>
              Email: <a itemprop="email" href="mailto:info@ResearchScotland.ac.uk">info@ResearchScotland.ac.uk</a>
              <br>
              </span>
              </span>
            </address>
              Items in Research Scotland are protected by copyright with all rights reserved unless otherwise indicated.
          </div>
      </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Copyright -->
</footer>
