<div class="home-partners">
    <h2>Partners</h2>
    <hr>
    <p>Select a partner to browse its collections.</p>
    <!-- these could be dynamically generated -->
    <div class="partner-container">
        <a href="" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/bioss_logo">
        </div>
        <div class="partner-desc col-8">
            <p class="">Researching Statistical Bioinformatics, Process &amp; Systems Modelling and Statistical Methodology</p>
        </div>
        </a>
    </div>
    <div class="partner-container">
        <a href="" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/hutton_logo">
        </div>
        <div class="partner-desc col-8">
            <p class="">Science Connecting Land and People</p>
        </div>
        </a>
    </div>
    <div class="partner-container">
        <a href="" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/marine_scotland_logo">
        </div>
        <div class="partner-desc col-8">
            <p class="">Managing Scotland's seas for prosperity and environmental sustainability</p>
        </div>
        </a>
    </div>
    <div class="partner-container">
        <a href="" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/">
        </div>
        <div class="partner-desc col-8">
            <p class="">Moredun Research Institute conducts world class scientific research to improve livestock health and welfare through the prevention and control of infectious diseases of livestock</p>
        </div>
        </a>
    </div>
    <div class="partner-container">
        <a href="" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/rgbe_logo">
        </div>
        <div class="partner-desc col-8">
            <p class="">Explore, Conserve and Explain the World of Plants for a Better Future</p>
        </div>
        </a>
    </div>
    <div class="partner-container">
        <a href="" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/sasa_logo">
        </div>
        <div class="partner-desc col-8">
            <p class="">Helping Scotland Grow</p>
        </div>
        </a>
    </div>
</div>