.home-partners {
    margin-top: 2rem;
}
.partner-container {
    height:7.8rem;
    margin-bottom: 1rem;
}
.partner-logo img {
    max-height:7.8rem;
    max-width:12rem;
}
.partner-logo-offset {
    margin-left: 0.8rem;
}
.partner-container a {
    transition: transform .5s;
}
.partner-container a:hover {
    transform: scale(1.1);
}
.partner-desc {
    position: relative;
}
.partner-desc p {
    margin-right: 5rem;
    margin-bottom: 0rem!important;
    position: absolute;
    top: 30%;
    font-size: 18px;
}