// Override or add CSS variables for your theme here

:root {
  --ds-header-logo-height: 40px;
  --ds-banner-text-background: rgba(0, 0, 0, 0.45);
  --ds-banner-background-gradient-width: 300px;
  --ds-home-news-link-color: #{$green};
  --ds-home-news-link-hover-color: #{darken($green, 15%)};
  --ds-header-navbar-border-bottom-color: #{$green};
}

// CUSTOMISATIONS \\

@media (max-width:767){
  main.main-content{
    margin-top: 4rem!important;
  }
}
// a tags
a, a.text-truncate {
  color: #080c54 !important;
}
a:hover, a:focus {
  text-decoration: none;
  color: #6262DA!important;
}
a.list-group-item:hover {
  background-color: #f6f6f6;
}

// headers
// skipped header level fixes
.community-list-header {
  font-size: 2rem;
}
.community-list-second-header {
  font-size: 1.25rem;
}
// fixing skipped level header on simple item view - also fixes level header issue on full item view
.simple-view-element-header {
  font-size: 1.25rem;
}
// fixing statistics page heading levels
.statistics-header {
  font-size: 2rem;
}
.m-1 h2 {
  font-size: 1.75rem;
}

// buttons
.badge-info {
  background-color: #6D72AB!important;
}
.badge-primary {
  background-color: transparent!important;
}
.btn-primary {
  color: #fff!important; 
  background-color: #6D72AB!important;
  border-color: #50547f!important;
}
.search-filter-btn {
  color: #fff!important;
}
.btn-primary:hover {
  background-color: #373a58!important;
  color: #fff!important;
}
.btn-outline-primary a:hover, 
a.btn.btn-outline-primary:hover {
  color: #fff!important;
}
.disabled-btn {
  background-color:#373a58!important;
}
.btn-secondary {
  background-color: #edefff!important;
  color: #080c54 !important;
}
.btn-secondary:hover {
  color: #6262DA !important;
}

// breadcrumbs
.li.breadcrumb-item {
  color: #080c54!important;
}
.nav-breadcrumb, .breadcrumb {
  margin-top: 1rem;
  background-color: #fff!important;
}
@media (max-width:767px) {
  .nav-breadcrumb {
    margin-top: 4rem!important;
  }
}
// fixing breadcrumb link colour contrast error
a.text-truncate {
  color: #080c54!important;
}

// footer
.bottom-footer {
  background-color: #6D72AB!important;
}

.list-group-item.active {
  background-color: #edefff!important;
}
.list-group-horizontal > .list-group-item.active:hover {
  color: #080c54!important;
  cursor: default!important;
}
.page-item.active .page-link {
  background-color: #edefff!important;
}

// on page alert
.alert-info {
  color: #080c54!important;
  background-color: #edefff!important;
  border-color: #080c54!important;
}

// tables
// fixing/replacing full item page table for divs
.div-table-head {
  //display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.div-table-tr {
  display: flex;
  vertical-align: inherit;
  border-color: inherit;
}
.table *, .table *:before, .table *:after,
.div-table-tr *, .div-table-tr *:before, .div-table-tr *:after,
.div-table-head *, .div-table-head *:before, .div-table-head *:after {
  box-sizing: unset!important;
  -webkit-box-sizing: unset!important;
  -moz-box-sizing: unset!important;
}
.div-table-th {
  font-weight: bold;
}
.div-table-th, .div-table-td {
  vertical-align: bottom;
  border: 1px solid #dee2e6;
}
.div-table-body {
  vertical-align: middle;
  border-color: inherit;
  color: #343a40;
}
.div-table-body .div-table-row:nth-of-type(odd) {
  background-color: #f8f9fa;
}
.div-table-row {
  width: 100%;
  display: table;
}
.div-table-column {
  display: table-cell;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  width: 33.3%;
}
.div-table-column.div-table-language {
  text-align: right;
  padding-right: 4rem;
}
.div-table-summery {
  padding-right: 0.76rem;
}

.sidebar-section .nav-link {
  color: #fff!important;
}
.sidebar-section .nav-link:hover {
  color: #a9a9fe !important;
}

@media (max-width: 576px){
  .container-sm, .container {
    max-width: 100%!important;
  }
}