// Override or add CSS variables for your theme here

:root {
  --ds-header-logo-height: 40px;
  --ds-banner-text-background: rgba(0, 0, 0, 0.45);
  --ds-banner-background-gradient-width: 300px;
  --ds-home-news-link-color: #{$green};
  --ds-home-news-link-hover-color: #{darken($green, 15%)};
  --ds-header-navbar-border-bottom-color: #{$green};
}

// fixing breadcrumb link colour contrast error
a.text-truncate {
  color: #125774!important;
}

// skipped header level fixes
.community-list-header {
  font-size: 2rem;
}
.community-list-second-header {
  font-size: 1.25rem;
}

/* // fixing empty link error for search results list
div#search-sidebar-content .btn-group a {
  content: 'test text';
  font-size: 0rem;
}
i.fas.fa-list, i.fas.fa-th-large {
  font-size: 1.5rem;
  padding-top: 0.15rem;
}*/

// fixing skipped level header on simple item view - also fixes level header issue on full item view
.simple-view-element-header {
  font-size: 1.25rem;
}

// fixing/replacing full item page table for divs
.div-table-body {
  vertical-align: middle;
  border-color: inherit;
  color: #343a40;
}

.div-table-body .div-table-row:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.div-table-row {
  width: 100%;
  display: table;
}

.div-table-column {
  display: table-cell;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  width: 33.3%;
}

.div-table-column.div-table-language {
  text-align: right;
  padding-right: 4rem;
}

// fixing statistics page heading levels
.statistics-header {
  font-size: 2rem;
}
.m-1 h2 {
  font-size: 1.75rem;
}

