<div class="home-partners">
    <h2>Partners</h2>
    <hr>
    <p>Select a partner to browse its collections.</p>
    <!-- these could be dynamically generated -->
    <div class="partner-container">
        <a href="/communities/1e9d62df-9fff-47d6-bc43-ea98b643f097" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/bioss_logo">
        </div>
        <div class="partner-desc col-8">
            <p class="">Researching Statistical Bioinformatics, Process &amp; Systems Modelling and Statistical Methodology</p>
        </div>
        </a>
    </div>
    <div class="partner-container">
        <a href="/communities/bebe0fed-a20f-404d-99b4-05b613494a95" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/hutton_logo">
        </div>
        <div class="partner-desc col-8">
            <p class="">Science Connecting Land and People</p>
        </div>
        </a>
    </div>
    <div class="partner-container">
        <a href="/communities/6e90c57a-19ec-4a8a-8150-574a2f673609" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/marine_scotland_logo">
        </div>
        <div class="partner-desc col-8">
            <p class="">Managing Scotland's seas for prosperity and environmental sustainability</p>
        </div>
        </a>
    </div>
    <div class="partner-container">
        <a href="/communities/a386941c-c88e-4e7e-93b4-6829f2b86814" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/moredun_logo.jpeg">
        </div>
        <div class="partner-desc partner-desc-long col-8">
            <p class="">Moredun Research Institute conducts world class scientific research to improve livestock health and welfare through the prevention and control of infectious diseases of livestock</p>
        </div>
        </a>
    </div>
    <div class="partner-container">
        <a href="/communities/048cae96-b37e-4631-8f15-9ff5bbe3e9bd" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/rgbe_logo">
        </div>
        <div class="partner-desc col-8">
            <p class="">Explore, Conserve and Explain the World of Plants for a Better Future</p>
        </div>
        </a>
    </div>
    <div class="partner-container">
        <a href="/communities/a192775c-3850-40cc-abb1-056785355150" class="row">
        <div class="partner-logo col-4">
            <img class="mx-auto d-block" src="/assets/images/partner-logos/sasa_logo">
        </div>
        <div class="partner-desc col-8">
            <p class="">Helping Scotland Grow</p>
        </div>
        </a>
    </div>
</div>